body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    overflow: hidden;
    background-color: #000000; /* Darker background color */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    animation: fadeIn 1s ease-in-out;
}

.section {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    transition: transform 0.5s ease-in-out;
    position: absolute;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

#section1 { background-image: url('G:/gg/bg.jpg'); /* Replace with your image URL */ }
#section2 { background-color: #FFD700; left: 100vw; }
#section3 { background-color: #90EE90; left: 200vw; }

.container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.content {
    width: 60%;
    text-align: center;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.slider-container {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    display: flex;
    align-items: center;
}

.slider {
    width: 30px;
    height: 5px;
    background-color: #333;
    border-radius: 3px;
    margin: 0 5px;
    opacity: 0.5;
    transition: opacity 0.3s;
}

body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    overflow: hidden;
    background-color: #000000; /* Darker background color */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#loading-spinner {
    border: 8px solid #3498db; /* Blue border color */
    border-top: 8px solid #00eeff; /* Teal border color for glow effect */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite, glow 2s ease-in-out infinite;
    box-shadow: 0 0 10px rgba(52, 152, 219, 0.8); /* Glowing effect */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes glow {
    0%, 100% { box-shadow: 0 0 10px rgba(52, 152, 219, 0.8); }
    50% { box-shadow: 0 0 20px rgba(52, 152, 219, 0.8); }
}
.content h2 {
    margin-left: 20px;
}
